 @charset "utf-8";

html{
	margin: 0;
}

*{
	font-family:'Meiryo UI';
	margin:0;
	padding:0;
}

li{
	list-style: none;
}

a {
	text-decoration: none;
	color:inherit;
}

body{
	min-height: 640px;
	position: relative;
	background-color: #fffaf0 !important;
}

input[type=checkbox] {
    width: 25px;
    height: 25px;
  	margin:0;
}


.textarea-wrap{
	height:200px;
	position: relative;
}

.textarea-wrap textarea{
	width:100%;
    top: 0; left: 0; right: 0; bottom: 0;
    margin:0;
	position: absolute;
}

.input-wrap{
	position: relative;
}

.input-wrap input{
	width:100%;
    top: 0; left: 0; right: 0; bottom: 0;
    margin:0;
	position: absolute;
}

.select-wrap{
	position: relative;
}

.select-wrap select{
	width:100%;
    top: 0; left: 0; right: 0; bottom: 0;
    margin:0;
	position: absolute;
}

.header-wrap li{
	float: right;
}

.header-wrap a{
	font-size:20px;
	margin:0 20px 0;
	padding:10px;
}

.header-wrap{
	width:100%;
}

.form-horizontal input {
    display: block;
    float: left;
}

.form-horizontal label {
    display: block;
    float: left;
    text-align: right;
}

.form-horizontal br {
    clear: left;
}

.error-label {
    color: #b94a48;
}

.error-input {
    border-color: #b94a48;
    margin-left: 5px;
}

.error-message-list {
    color: #b94a48;
    padding:5px 10px;
    background-color: #fde9f3;
    border:1px solid #c98186;
    border-radius:5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.button{
	font-size:18px;
	padding:  8px 25px;
	margin:0 50px 50px 50px;
}

.login-button{
	font-size:18px;
	padding:  8px 25px;
}

.login-button-wrap{
	text-align: center;
}

.login-form{
	margin: auto;
}

.check-box span label{
	font-size: 18px;
	margin:10px 5px 10px 5px;
}

.check-box span input{
	margin:10px 5px 10px 5px;
}

th label{
	font-size: 20px;
}

.question-contents pre{
	margin:0;
}

.question-contents{
	padding:10px;
	margin-bottom:30px;
}

.admin-contents{
	width:80%;
	padding:10px;
	margin:20px;
}

.category-contents{
	margin-top: 30px;
	font-size:25px;
	text-align:center;
	padding:10px;
}

table thead tr th{
	text-align: center;
}

.question{
	text-align: center;
 	font-size: 20px;
}

.answer-contents{
/* 	font-size: 30px; */
}

.answer-contents-wrap{
	display: flex;
	margin-bottom: 30px;
}

.answer-contents-wrap pre{
	width: 90%;
}

.answer-button-wrap{
	text-align: center;
}

.answer-button{
	height:10%;
	width:25%;
	padding: 10px;
	margin: 0 60px 0 60px ;
}


footer{
	width:100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}
